<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="em.twitterido.aw"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.NFC" >
    </uses-permission>
    
    <uses-feature android:name="android.hardware.usb.accessory" />
	
	
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <uses-library android:name="com.android.future.usb.accessory" >
        </uses-library>

        <activity
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:name=".PersonalEmActivity" 
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter >
                <action android:name="em.twitterido.aw.BasicEMActivity.gh.EVENT" >
                </action>
            </intent-filter>
            
              <intent-filter >
                <action android:name="SENSOR_EVENT" >
                </action>
            </intent-filter>
            <intent-filter >
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" >
                </action>
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter">
            </meta-data>

            <intent-filter >
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.nfc.action.TAG_DISCOVERED" >
                </action>
            </intent-filter>
            <intent-filter >
                <data android:mimeType="text/*" >
                </data>

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
            </intent-filter>
        </activity>

        <service
            android:label="Genie Hub Service"
            android:name=".GHService" >
            <intent-filter >
                <action android:name="em.twitterido.aw.BasicEMActivity.ACTIVITY" >
                </action>
            </intent-filter>
            <intent-filter >
                <action android:name="em.twitterido.aw.BasicEMActivity.SHARE" >
                </action>
            </intent-filter>
        </service>
        <service android:name=".ADKService" android:label="ADK manager service">
        </service>
        <activity android:label="@string/setUser_name" android:name=".SetUserActivity"></activity>
        <activity android:label="@string/offerTitle" android:name=".OffersActivity">
            <intent-filter></intent-filter>
        </activity>
        
            
        
       
    </application>

</manifest>